.document-box {
  height: 100%;
  width: 95%;
  max-height: 100%;
}

.doc-action-btn-box {
  display: block;
  width: 70%;
  margin-left: 15%;
  height: 10%;
}

.doc-action-btns {
  width: 30%;
  margin-right: 9% !important;
  margin-left: 3% !important;
}

.k-fab {
  width: 38px !important;
  height: 38px !important;
}

.bottom-btn-container {
   width: 100% !important;
}

.image {
    width: 100%;
    object-fit: fill;
    overflow: hidden;
}

.document-modal-size {
  height: 80%;
  width: 40%;
  max-width: 40% !important;
}
.document-modal-content {
  height: 100%;
  width: 100%;
}
