.invoice-container {
    width: inherit;
    height: inherit;
}

.document-box {
  height: 70%;
  width: 70%;
}

.doc-action-btn-box {
  display: block;
  width: 70%;
  height: 10%;
  margin-top: -12%;
}

/* TODO: move out to a common file if used again */
.k-btn-grey {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  border-radius: 3px;
  background-color: #d0cccc !important;
  opacity: 0.67;
  text-transform: capitalize !important;
}

.doc-action-btns {
  width: 30%;
  margin-right: 9% !important;
  margin-left: 3% !important;
}

.k-fab {
  width: 38px !important;
  height: 38px !important;
}

.bottom-btn-container {
  width: 80%;
  margin-bottom: 7% !important;
}

.bottom-spacer {
  margin-bottom: 7%;
}


.image {
    width: 100%;
    object-fit: fill;
    overflow: hidden;
}