.invoice-container {
    width: inherit;
    height: inherit;
}

.document-box {
  height: 70%;
  width: 70%;
}

.doc-action-btn-box {
  display: block;
  width: 70%;
  height: 10%;
  margin-top: -12%;
}

/* TODO: move out to a common file if used again */
.k-btn-grey {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  border-radius: 3px;
  background-color: #d0cccc !important;
  opacity: 0.67;
  text-transform: capitalize !important;
}

.doc-action-btns {
  width: 30%;
  margin-right: 9% !important;
  margin-left: 3% !important;
}

.k-fab {
  height: 30px !important;
  width: 30px !important;
}

.bottom-btn-container {
  width: 80%;
  margin-bottom: 7% !important;
}

.bottom-spacer {
  margin-bottom: 7%;
}

.inputFields {
    width: 100%;
    height: 10%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.04);
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.48) !important;
    direction: rtl;
    margin-bottom: 3%;
    border-color: #828389 !important; 
}


.MuiFab-label-235 {
    width: 75%;
}

.MuiInput-input-206 {
    font-size: 13px !important;
    height: 20px !important;
    width: 100% !important;
    color: #c4c0c0 !important;
    letter-spacing: -0.13px !important;
    font-family: Heebo !important;
    font-weight: 500 !important;
    margin-right: 2% !important;
}

.invoiceImageBox {
    /* Style for "XMLID_1_" */
    width: 80%;
    height: 43.9%;
    box-shadow: 0 3px 6px rgba(136, 92, 92, 0.16);
    background-color: #ffffff;
    opacity: 0.49;
    border-radius: 5px;
}

.invoicesImageBoxBtn {
    background-color: #d0cccc !important;
    border-radius: 3px;
    height: 30px;
}

.MuiButton-label-170 {
    
    color: #f8f7f7 !important;
    font-family: Heebo !important;
    font-size: 12px !important;
    font-weight: 500 !important;
}

.image {
    width: 100%;
    object-fit: fill;
    overflow: hidden;
}