.batch-container {
  overflow: scroll;
  padding: 3% 1% 2% 1%;
}

.right-bottom-btn {
  width: 150px;
  float: right;
  margin-right: 22px !important;
}

.left-bottom-fab-btn {
  width: 37px !important;
  height: 30px !important;
  float: left;
  margin-left: 40px !important;
}

