.unified-form-container {
    overflow: scroll;
    padding: 3% 1% 5% 1%;
  }
  
  .top-right-fab-btn {
    width: 37px !important;
    height: 30px !important;
    float: right;
    margin-right: 40px !important;
    margin-bottom: 20px !important;
  }

  .bp-container {
    padding: 7% 10% 2% 10%;
    text-align: right;
    font-family: Heebo;
    font-size: 13px;
  }
  
  .bp-title {
    color: #828389;
    font-size: 18px;
    padding-bottom: 15px;
    margin-bottom: 15px !important;
    border-bottom: 1px solid #828389;
  }
  
  .strong-font {
    font-weight: 700;
  }
  
  .light-font {
    font-weight: 400;
    margin-bottom: 10px;
  }
  
  .bp-label {
    color: #95959a;
    font-size: 8px;
    font-weight: 700;
  }
  
  .fields-column {
    padding-left: 6%;
  }
  
  .submit-bp-btn-container {
    text-align: right;
  }
  
  .submit-bp-btn {
    width: 100%;
    margin-top: 10% !important;
  }