.section {
    background-image: linear-gradient(180deg, #eb896b 0%, #b5b7d8 100%, #ff342c 100%);
    opacity: 0.64;
    height: 100vh;

    &.auth-section {
        display: flex;
        align-items: center;

        .auth-button {
            min-width: 200px;
        }
    }
}

.logo {
    height: 10vmin;
}

.input {
    background-color: transparent !important;
    border-color: white;
}
