.form-box {
    height: 60vh;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    overflow: hidden;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: fill;
    overflow: hidden;
}

.receipt-button {
    color: rgba(248, 247, 247, 1);
    font-family: Assistant;
    font-size: 17px;
    font-weight: bold;
    border-radius: 45px !important;
    background-color: #d0cccc;
    width: 116px;
    height: 25px;
    padding: 0;
    align-items: center;
}

.buttons {
    margin-left: 15%;
}

.input {
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    box-shadow: none !important;
    text-align: right;
    border-color: #dbdbdb !important;
    font-family: Assistant !important;
}

.form-columns {
    margin-top: 10%;
}

.receipt-button-success {
    margin-left: -20%;
    background-color: rgba(118, 193, 196, 1) !important;
}

.content-overflow {
    overflow: auto;  
  }

.image-transform-90{
    transform: rotate(90deg);
}


.image-box {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    color: #4a4a4a;
    display: block;
}
.panel-heading{
    border-bottom: 0px !important;
    border-left: 0px !important;
     border-right: 0px;
}
.panel-heading:first-child {
    border-top: 0px 
}

.cursor-pointer{
    cursor: pointer !important;
}

.css-vj8t7z {
    border-top-style: none !important;
    border-left-style: none !important;
    border-right-style: none !important;
    margin-top: -6%;
    border-radius: 2px !important;
    border-color: #dbdbdb !important;
    font-size: 0.75rem;
    padding: 0px !important;
}

.css-19bqh2r {
    display: none !important;
}

.css-1wy0on6 {
    display: none !important;
}

.css-1492t68 {
    color: #808080 !important;
    font-size: 0.75rem;
    border-radius: 2px ;
}

.css-2o5izw:hover {
    border-top-style: none !important;
    border-left-style: none !important;
    border-right-style: none !important;
    max-width: 100% !important;
    width: 100% !important;
    color: #363636 !important;
    -webkit-appearance: none !important;
    align-items: center !important;
    margin-top: -6% !important;
    box-shadow: none !important;
    border-color: #dbdbdb !important;
    border-radius: 2px !important;
    font-size: 0.75rem;
}

.css-2o5izw:focus {
    border-top-style: none !important;
    border-left-style: none !important;
    border-right-style: none !important;
    border-color: #dbdbdb !important;
    max-width: 100% !important;
    width: 100% !important;
    color: #363636 !important;
    -webkit-appearance: none !important;
    align-items: center !important;
    margin-top: -6% !important;
    box-shadow: none !important;
    border-color: #dbdbdb !important;
    border-radius: 2px !important;
    font-size: 0.75rem !important;
}

.css-2o5izw {
    border-top-style: none !important;
    border-left-style: none !important;
    border-right-style: none !important;
    border-color: #dbdbdb !important;
    max-width: 100% !important;
    width: 100% !important;
    color: #363636 !important;
    -webkit-appearance: none !important;
    align-items: center !important;
    margin-top: -6% !important;
    box-shadow: none !important;
    border-radius: 2px !important;
    font-size: 0.75rem;
}


.css-1492t68 {
    position: absolute;
    top: 60% !important;
    color: rgba(128, 128, 128, 0.5) !important;
    right: 2%;
}

.css-1g6gooi {
    margin-top: 2%;
}

.css-1hwfws3 {
    margin-top: 2% !important;
}

.css-xp4uvy {
    margin-top: 4.5px !important;
    right: 2% !important;
}

.css-15k3avv {
    font-size: 0.75rem !important;
}

.css-bl6clz {
    position: absolute;
    top: 2% !important;
}

