.form-box {
    height: 60vh;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    overflow: hidden;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: fill;
    overflow: hidden;
}

.receipt-button {
    color: #faf9f8;
    font-family: Assistant;
    font-size: 17px;
    font-weight: 700;
    border-radius: 45px !important;
    background-color: #d0cccc;
    width: 116px;
    height: 25px;
    padding: 0;
    align-items: center
}

.buttons {
    margin-left: 15%;
    
}

.input {
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    box-shadow: none !important;
    text-align: right;
}

.form-columns {
    margin-top: 10%;
}

.receipt-button-success {
    margin-left: -20%;
}

.content-overflow {
    overflow: auto;  
  }

.image-transform-90{
    transform: rotate(90deg);
}


.image-box {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    color: #4a4a4a;
    display: block;
}
.panel-heading{
    border-bottom: 0px !important;
    border-left: 0px !important;
     border-right: 0px;
}
.panel-heading:first-child {
    border-top: 0px 
}
