.section {
    background-image: linear-gradient(180deg, #eb896b 0%, #b5b7d8 100%, #ff342c 100%);
    opacity: 1;
    height: 100vh;
}

.navbar {
    background-color: transparent;
}

.avatar {
    border-radius: 50%;
    width: 50px;
    margin-top: -60%;
}

.app-logo {
    width: 35px;
    margin-top: -80%;
}

.box {
    height: 75vh;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.panel {
    height: 75vh;
    background: white;
    border-radius: 5px;
}

.panel-heading {
    background: rgba(175, 228, 230, 1) !important;
    opacity: 0.63;
}



.panel-block {
    height: 71.5vh;
    border: transparent !important;
}

.active-list-item {
    background-color:  #f1f1f1
}
.list-item-container{
    flex-direction: row;
    align-items: center;
    background-color: transparent;
    border-bottom-style: solid !important;
    border-bottom-color: #82D5D9 !important;
    border-bottom-width: 0.2px !important;
}
.list-item-container:hover{
    background-color: #f3f3f3
}
.list-item-icon{
  justify-self: flex-start;
  flex:1
}

.list-item-text{
    text-align: right;
    flex:4;
    font-size: 17px !important;
    font-family: 'Assistant' !important
}

.list-item:hover {
    background-color: #f3f3f3
}

.list-item {
    border-bottom-style: none !important;
    border-top-style: none !important;
    border-left-style: none !important;
    border-right-style: none !important;
    padding-bottom: 0px !important;
}

.panel-heading {
    border-bottom: 0 !important;
    border-left: 0 !important;
     border-right: 0;
}
.panel-heading:first-child {
    border-top: 0
}

.fa-caret-right-user {
    background: transparent !important;
    color: #F1EEEE;
    position: absolute;
    right: 0;
    margin-top: -0.4%;
}

.fa-caret-right-image {
    background: transparent !important;
    color: #F1EEEE;
    position: absolute;
    right: 24.57%;
    margin-top: -0.4%;
}

.panel-icon {
    color:rgba(112, 112, 112, 1) !important;
}

