.section {
    background-image: linear-gradient(180deg, #eb896b 0%, #b5b7d8 100%, #ff342c 100%);
    opacity: 1;
    height: 100vh;
}

.navbar {
    background-color: transparent;
}

.avatar {
    border-radius: 50%;
    width: 50px;
    margin-top: -60%;
}

.app-logo {
    width: 35px;
    margin-top: -80%;
}

.box {
    height: 75vh;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.panel {
    height: 75vh;
    background: white;
    border-radius: 6px;
}

.panel-heading {
    background: #82d5d9 !important;
    opacity: 0.63;
}



.panel-block {
    height: 71.5vh;
    border: transparent !important;
}

.active-list-item {
    background-color:  #f1f1f1
}


