.panel-heading {
    color: #796f6f;
    font-family: Assistant;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: -0.01px;
}

.total-images {
    margin-left: -22px;
    margin-top: 2px
}
.panel-heading{
    border-bottom: 0px !important;
    border-left: 0px !important;
     border-right: 0px;
}
.panel-heading:first-child {
    border-top: 0px 
}