.panel-heading {
    color: #796f6f;
    font-family: Assistant;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: -0.01px;
}

.user-list-text {
    margin-left: 50%;
}

.content-overflow {
  overflow: auto;  
}

.input-search-box{
    color: white !important;
    border: 0px solid #000000;
    border-bottom-width: 0px;
    background-color: transparent;
}


.icon-color{
    color: white !important
}

.control.has-icons-right .input {
    padding-right: 0em !important;
}

