.ita-container {
  overflow: scroll;
  padding: 8% 5% 0 5%;
}

.dropdown {
  background-color: rgb(163,216,229);
    padding: 4px;
    /* margin: 8px; */
    border-radius: 6px;
    color: white;
    margin: inherit;
    margin-left: auto;
}

._3vt7_Mh4hRCFbp__dFqBCI  {
  float: right;
  background-color: rgb(163,216,229);
  border-radius: 6px;
}

._7ahQImyV4dj0EpcNOjnwA {
  padding: 2px 6px !important;
    background: #0096fb;
    margin-right: 5px;
    border-radius: 10px;
    display: inline-flex;
    align-items: center;
    font-size: 13px;
    color: #fff;
    white-space: nowrap;
}