.ita-container {
  overflow: scroll;
  /* padding: 3% 1% 2% 1%; */
  padding: 8% 5% 0 5%;
}

.dropdown {
  background-color: rgb(163,216,229);
    padding: 4px;
    margin-right: 8px;
    border-radius: 6px;
    color: white;
    height: 40px;
}

._3vt7_Mh4hRCFbp__dFqBCI  {
  float: right;
  background-color: rgb(163,216,229);
  border-radius: 6px;
}
.btn-primary {
  margin-left: 13px;
    /* margin-top: 3px; */
    height: 40px;
}
.MuiGrid-grid-md-10-67 {
  flex-grow: 0;
  max-width: 100% !important;
  flex-basis: 100% !important;
}
.MuiGrid-grid-md-8-65 {
  flex-grow: 0;
  max-width: 100% !important;
  flex-basis: 100% !important;
}