.topBar .css-vj8t7z {
    border: none !important;
    background: transparent !important;
}

.topBar .css-2o5izw {
    border: none !important;
    background: transparent !important;
    box-shadow: none !important;
}

.topBar .css-2o5izw:hover {
    border: none !important;
    background: transparent !important;
    box-shadow: none !important;
}

.topBar .css-2o5izw:focus {
    border: none !important;
    background: transparent !important;
    box-shadow: none !important;
}
.topBar .css-1492t68 {
    /* Style for "Holy Bagel" */
width: 134px;
height: 40px;
color: #ffffff !important;
font-family: "Source Sans Pro" !important;
font-style: italic;
font-size: 30px;
font-weight: 400;
line-height: 40px;
}

.topBar .css-xp4uvy{
    width: 180px;
height: 40px;
color: #ffffff !important;
font-family: "Source Sans Pro" !important;
font-size: 30px;
font-weight: 400;
line-height: 40px;
}
.topBar .css-bl6clz {
    border: none !important;
    background: transparent !important;
}

.topBar .css-1wy0on6 {
    display: none !important;
}