.k-caption {
  color: #828389;
  font-family: Source Sans Pro;
  font-size: 18px;
  font-weight: 300;
  font-style: italic;
}

.k-blue-button {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  border-radius: 3px;
  background-image: linear-gradient(180deg, #ef7474 0%, #b0b5bf 0%, #87dfef 100%, #f7b3a9 100%);
  opacity: 0.67;
  text-transform: capitalize !important;
}

.k-grey-button {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  border-radius: 3px;
  background-color: #d0cccc !important;
  opacity: 0.67;
  text-transform: capitalize !important;
}

.k-button-text {
  color: white;
  font-family: Heebo;
}

.k-form-feedback {
  font-size: 0.8em;
  font-weight: 300;
  color: #ea797a;
}


/* MUI Text Field overrides */
.k-textfield-plain {
  background-color: rgba(255, 255, 255, 0.48) !important;

  border-top-left-radius: 3px !important;
  border-top-right-radius : 3px !important;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.04);
}

.k-textfield-plain input {
  padding: 0px 7px;
  color: #c4c0c0;
  font-family: Heebo;
  font-size: 11px;
  font-weight: 500;
  direction: rtl;
  height: 36px;
  text-align: right;
}

.k-textfield-focus:before {
  border-bottom: 1px solid #828389 !important;
}

.k-textfield-focus:after {
  border-bottom: 2px solid #3794a5 !important;
}

/*
* react-select style overrides
*/

/* Main select container */
.k-select-container .css-vj8t7z,
/* Active state */
.k-select-container .css-2o5izw, 
.k-select-container .css-2o5izw:hover,
.k-select-container .css-2o5izw:focus {
  background-color: rgba(255, 255, 255, 0.48) !important;
  border-top-left-radius: 3px !important;
  border-top-right-radius: 3px !important;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.04);
  border: none;
  border-bottom: 1px solid #828389;
}

.k-select-container .css-2o5izw:hover,
.k-select-container .css-2o5izw:focus {
  border-bottom: 2px solid #3794a5;
}

/* Text styles */
.k-select-container .css-xp4uvy, 
.k-select-container .css-1g6gooi input {
  color: #c4c0c0 !important;
  font-family: Heebo !important;
  font-size: 11px !important;
  font-weight: 500 !important;
}

/* Placeholder */
.k-select-container .css-1492t68 {
  color: #e4e3e3 !important;
  font-family: Heebo !important;
  font-size: 11px !important;
  font-weight: 500 !important;
}


.k-select-container .css-bl6clz {
  border: none !important;
  background: transparent !important;
}

/* dropdown icon border */
.k-select-container .css-d8oujb {
  display: none;
}

/* 
* bootstrap table overrides
*/

.k-table-container {
  padding: 0% 2% 1% 2%;
}

.k-header-row {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.04);
  border-radius: 3px !important;
  background-color: #dbdada;
  margin-bottom: 10px;
}

.k-header-cell {
  color: #4d4f5c;
  font-family: Heebo;
  font-size: 13px;
  font-weight: 700;
  line-height: 20px;
  text-transform: capitalize;
  padding: 16px 0px;
}


.k-body-cell {
  vertical-align: middle !important;
  text-align: left;
  color: #4d4f5c;
  font-family: Heebo;
  font-size: 13px;
  font-weight: 400;
  line-height: 10px !important;
  background-color: #f8f8f8 !important;
  padding: 0px !important;
  border: none !important;
}

.k-force {
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.04);
  /* border-radius: 3px; */
  background-color: white !important;
  margin: 6px 0px;
  padding: 15px 10px;
  height: 40px;
}

tr td:first-child .k-force {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

tr td:last-child .k-force {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}