.k-textfield-plain {
  background-color: rgba(255, 255, 255, 0.48) !important;

  border-top-left-radius: 3px !important;
  border-top-right-radius : 3px !important;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.04);
}

.k-textfield-plain input {
  padding: 7px 7px;
  color: #c4c0c0;
  font-family: Heebo;
  font-size: 11px;
  font-weight: 500;
  direction: rtl;
}

.k-textfield-focus:before {
  border-bottom: 1px solid #828389 !important;
}

.k-textfield-focus:after {
  border-bottom: 2px solid #3794a5 !important;
}

.k-blue-button {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  border-radius: 3px;
  background-image: linear-gradient(180deg, #ef7474 0%, #b0b5bf 0%, #87dfef 100%, #f7b3a9 100%);
  opacity: 0.67;
  text-transform: capitalize !important;
}